/* Body */
body{
    display: grid;
    place-items: center;
    background-color: #f2f3f5;
    margin: 20;
    padding: 20;
    font-family: 'Varela Round';
}
/* NAV */
nav ul{
   list-style-type: none; 
   margin: 0;
   padding: 0;
   margin-top: 10px;
   overflow:hidden;
   background-color: white;
   border-radius: 10px;

}
nav li{
  
    width: 120px;
    float:left;
}
nav li a{
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active){
    
    color: black;
}
.active {
    
    color:#0563bb;
    font-weight: bold;
}
/* Flexboxes */
.flex-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}
.flex-container > div{
font-size: 15px;
text-align: center;
width:70%;
}
/* Gridcontainer  */
.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    width: 80%;
    justify-content: center;
}
.grid-container > div
{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    width: 90%;
    
}
.grid-container img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#item1
{
   
    grid-row-start: 1;
    grid-row-end:4;
}
#item2
{
   
    grid-row-start: 1;
    grid-row-end:4;
}
#item3
{
   
    grid-row-start: 1;
    grid-row-end:4;
}
/* Table */
table 
{
    margin: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse:separate;
    border-radius: 10px;
    border: 1px solid #0563bb;;
}
table#entiteit
{
    margin: 1em;
    text-align: left;
    
}
table#entiteit th {
    color:#0563bb;
    padding: 15px;
    font-size: 15px;

  }
  table#entiteit td
 {
    padding: 15px;
    font-size: 12px;
  }
  /* Apply a border to the right of all but the last column */
  table#entiteit th:not(:last-child),
  table#entiteit td:not(:last-child) {
 border-right: 1px solid #0563bb;;
}
/* Apply a border to the bottom of all but the last row */
table#entiteit>thead>tr:not(:last-child)>th,
table#entiteit>thead>tr:not(:last-child)>td,
table#entiteit>tbody>tr:not(:last-child)>th,
table#entiteit>tbody>tr:not(:last-child)>td,
table#entiteit>tfoot>tr:not(:last-child)>th,
table#entiteit>tfoot>tr:not(:last-child)>td,
table#entiteit>tr:not(:last-child)>td,
table#entiteit>tr:not(:last-child)>th,
table#entiteit>thead:not(:last-child),
table#entiteit>tbody:not(:last-child),
table#entiteit>tfoot:not(:last-child) {
 border-bottom: 1px solid #0563bb;;
}
  
/* Headers*/
h1
{
    font-size: 30px;
    font-weight: bold;
}
h2
{
    font-size: 25px;
    font-weight: bold;
}
/* hr */
hr
{
    border: #0563bb 1px solid;
    width: 30em;
}